h1 Hello and Welcome to the Node Server

div
  p You can write information using jade templates
  p You can reference data passed in like #{data.value}

div
  p You can loop through values to display multiple values 
  ul
    for item in data.listValues
      li #{item}
