h1 Hello and Welcome to our Test Application for the day

p The links below cover many different forms of testing work through them to
find and learn about key bugs and types of testing you can use

ul
  li
    a(href='/basics?start=true') The basics of Negative Testing
  li
    a(href='/equivalencePartitioning?start=true') Using equivalence partitioning
  li
    a(href='/securitytesting?start=true') The basics of security testing
  li
    a(href='/localization?start=true') Using localization testing
